body {
    margin: 0%;
    overflow-x: hidden;
    background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

body::-webkit-scrollbar {
    display: none;
}

/*-- Header & Nav --*/

#header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0%;
    background-color: #be3144;
    width: 100vw;
    height: 7vh;
    min-height: 70px;
    border-bottom: 3px solid antiquewhite;
}

#navbar {
    flex: 1;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 65px;
    padding: 0%;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-list a:hover {
    padding: 0 10px 0 10px;
  }

.nav-link {
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    #header {
        height: 140px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 0%;
    }
}

/*-- Main --*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 10px 0 10px 0;
}

a {
    color: antiquewhite;
}

a:hover {
    background: #181719;
    padding: 0 5px 0 5px;
    text-decoration: underline;
  }

/*-- Welcome Section --*/

#welcome-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    min-height: 700px;
    background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    color: antiquewhite;
    scroll-margin-top: 100px;
}

#heading-text {
    padding: 0 15vw 0 15vw;
    font-size: 2.5rem;
}

#introduction-text {
    padding: 0 15vw 0 15vw;
    font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
    #welcome-section {
        margin-top: 70px;
    }

    #heading-text, #introduction-text {
        padding: 0 10vw 0 10vw;
    }
}

/*-- Projects Section --*/

#Projects-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    flex-wrap: wrap;
    height: auto;
    padding: 5px 0 5px 0;
    background-color: #181719;
    padding: 70px 0 70px 0;
    scroll-margin-top: 70px;
}

.project-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    background-color: lightslategray;
    border: solid 3px antiquewhite;
    width: 29vw;
    height: auto;
    /*-- aspect-ratio: 16 / 9; --*/
    min-width: 370px;
}

.project-tile img {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #Projects-section {
        scroll-margin-top: 140px;
    }
}

/*-- Certification Section --*/

#Certification-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    text-align: center;
    background-image:linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: auto;
    padding-bottom: 40px;
    margin-bottom: -10px;
    color: antiquewhite;
    scroll-margin-top: 100px;
}

.skill-title {
    padding: 0 15vw 0 15vw;
    font-size: 2rem;
}

.skill-discription {
    padding: 0 15vw 0 15vw;
    font-size: 1.3rem;
}

.cert-link {
    font-size: 1.3rem;
}

#link-div {
    margin-top: 40px;
    margin-left: -50px;
}

#profile-link {
    font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
    #Certification-section {
        scroll-margin-top: 140px;
    }

    .skill-title, .skill-discription {
        padding: 0 10vw 0 10vw;
    }
}

/*-- Contact Me Footer --*/

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0px;
    position: relative;
    bottom: 0%;
    background-color: #be3144;
    width: 100vw;
    height: 7vh;
    border-top: solid 3px antiquewhite;
}

.icon {
    vertical-align: middle;
    padding-right: 10px;
}

.contact-link {
    font-size: 1.2rem;
    text-decoration: none;
}

footer a:hover {
    background: #181719;
    padding: 0 5px 0 5px;
    text-decoration: underline;
  }

@media only screen and (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 160px;
    }
}